jupyterlab
einops
asciinema
rp==0.1.1333
accelerate
codetiming
datasets
dill
hydra-core
tmuxp
numpy>=1.22.4
pandas
peft
pyarrow>=19.0.0
pybind11
pylatexenc
ray[default]>=2.41.0
torchdata
tensordict<=0.6.2
wandb
packaging>=20.0
sglang[srt,openai]==0.4.6.post5
torch-memory-saver>=0.0.5
google-cloud-aiplatform
latex2sympy2
sentence_transformers
tabulate
word2number
pebble
timeout-decorator
math-verify[antlr4_9_3]
antlr4-python3-runtime==4.9.3
addftool
jsonlines
math_verify
tensorboardX
fire
easydict
transformers
decord
imgcat
